:root {
    --cor-amarelo: #FCE6A8;
    --cor-verde: #8FBCB3;
    --cor-cinza-claro: #DFE6ED;
    --cor-cinza-medio: #C3CFD9;
    --cor-cinza-escuro: #788895;
    --cor-hover: #747c83;
    --cor-active: #55636e;
    --cor-branca: #fff;
    --cor-erro: #e0422e;
}


body {
    background-color: var(--cor-verde);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 5px;
    width: 100vw;
    box-sizing: border-box;
}

.aviso {
    display: none;
    background-color: var(--cor-erro);
    margin: 10px;
    padding: 10px;
    color: var(--cor-branca);
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
}

.larg_aviso {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 200px) and (max-width: 640px) {
    .principal {
        background-color: var(--cor-verde);
        font-size: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 641px) and (max-width: 99999px) {
    .principal {
        background-color: var(--cor-verde);
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 30px;
    }
}


.res_calculo {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

@media (min-width: 200px) and (max-width: 640px) {
    .linha {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 641px) and (max-width: 99999px) {
    .linha {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.rodape {
    font-size: 18px;
    background-color: var(--cor-verde);
    grid-area: gd_rodape;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao {
    background-color: var(--cor-cinza-escuro);
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    margin-right: 5px;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 18px;
}

nav a.active {
    background-color: var(--cor-active);
}

nav a:hover {
    background-color: var(--cor-hover);
    border: 3px solid var(--cor-amarelo);
}


input,
textarea {
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--cor-cinza-medio);
    margin-bottom: 10px;
}

textarea {
    height: 150px;
}

input::placeholder,
textarea::placeholder {
    color: #b3c0cb;
}

.botao_acao {
    background-color: var(--cor-cinza-escuro);
    margin: 0px;
    color: var(--cor-branca);
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

.botao_acao:hover {
    cursor: pointer;
    background-color: var(--cor-hover);
    border: 3px solid var(--cor-amarelo);
}


input {
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px; 
    border: none; 
}

@media (min-width: 200px) and (max-width: 640px) {
    .quadro {
        padding: 10px;
        margin: 10px;
        background-color: var(--cor-cinza-claro);

        display: flexbox;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 641px) and (max-width: 99999px) {
    .quadro {
        padding: 10px;
        margin: 30px 10px 10px 10px;
        background-color: var(--cor-cinza-claro);

        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


@media (min-width: 200px) and (max-width: 640px) {
    .quadro_result {
        background-color: var(--cor-cinza-medio);
        color: var(--cor-active);
        padding: 5px 10px 10px 5px;
        margin-top: 7px;
        border: 2px solid;
        border-color: var(--cor-cinza-escuro);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        min-width: 150px;
        height: 1fr;
        min-height: 140px;
        word-wrap: break-word;
    }
}

@media (min-width: 641px) and (max-width: 99999px) {
    .quadro_result {
        background-color: var(--cor-cinza-medio);
        color: var(--cor-active);
        padding: 5px 10px 10px 5px;
        margin-left: 20px;
        border: 2px solid;
        border-color: var(--cor-cinza-escuro);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        height: 1fr;
        min-height: 140px;
        min-width: 150px;
        word-wrap: break-word;
    }
}